button {
    border: 0;
    outline: 0;
    background-color: transparent;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.icons i {
    margin-right: 20px;
    margin-bottom: 20px;
}

.bottom {
    align-self: flex-end;
    align-items: flex-end;
    position: absolute;
    z-index: 1;
    bottom: 30px;
    right: 0;
    width: 50px;
}

i {
    cursor: pointer;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: rgb(74, 74, 74);
    outline: none;
    border-radius: 50%;
}

i:hover {
    background-color: rgba(32, 33, 36, 0.059);
}

.icons {
    margin-bottom: 20px;
}