<div class="section-middle">
    <div class="section-middle-top">
        <div class="options">
            <i class="material-icons">check_box_outline_blank</i>
            <span class="material-icons">arrow_drop_down</span>
            <i class="material-icons">refresh</i>
            <i class="material-icons">archive</i>
            <i class="material-icons">report</i>
            <i class="material-icons">delete</i>
            <i class="material-icons">mark_as_unread</i>
            <i class="material-icons">query_builder</i>
            <i class="material-icons">add_task</i>
            <i class="material-icons"> drive_file_move</i>
            <i class="material-icons">label</i>
            <i class="material-icons">more_vert</i>
        </div>

        <div class="options-right">
            <i class="material-icons">keyboard_arrow_left</i>
            <i class="material-icons">keyboard_arrow_right</i>

            <i class="material-icons icon-box">horizontal_split</i>
            <i class="material-icons icon-box">arrow_drop_down</i>
        </div>
    </div>
    <div class="section-middle-bottom">
        <div class="section-middle-bottom-top">
            <div class="button">
                <i class="material-icons icon-button">arrow_drop_down</i>
                <p class="paragraph-button">Primary</p>
            </div>
            <div class="button">
                <i class="material-icons icon-button">arrow_drop_down</i>
                <p class="paragraph-button">Social</p>
            </div>
            <div class="button">
                <i class="material-icons icon-button">arrow_drop_down</i>
                <p class="paragraph-button">Promotion</p>
            </div>
        </div>
        <div class="section-middle-bottom-bottom"></div>
    </div>
</div>