<div class="section-middle" [ngClass]="toggle ? 'shortWidth' : 'longWidth'">
    <div class="section-middle-top">
        <div class="options">
            <i class="material-icons">check_box_outline_blank</i>
            <span class="material-icons">arrow_drop_down</span>
            <i class="material-icons">refresh</i>
            <i class="material-icons">archive</i>
            <i class="material-icons">report</i>
            <i class="material-icons">delete</i>
            <i class="material-icons">mark_as_unread</i>
            <i class="material-icons">query_builder</i>
            <i class="material-icons">add_task</i>
            <i class="material-icons"> drive_file_move</i>
            <i class="material-icons">label</i>
            <i class="material-icons">more_vert</i>
        </div>

        <div class="options-right">
            <i class="material-icons">keyboard_arrow_left</i>
            <i class="material-icons">keyboard_arrow_right</i>

            <i class="material-icons icon-box">horizontal_split</i>
            <i class="material-icons icon-box">arrow_drop_down</i>
        </div>
    </div>
    <div class="section-middle-bottom">
        <div class="section-middle-bottom-top">
            <div class="button primary">
                <i class="material-icons icon-button">inbox</i>
                <p class="paragraph-button">Primary</p>
            </div>
            <div class="button social">
                <i class="material-icons icon-button">people</i>
                <p class="paragraph-button">Social</p>
            </div>
            <div class="button promotion">
                <i class="material-icons icon-button">bookmark</i>
                <p class="paragraph-button">Promotion</p>
            </div>
        </div>
        <div class="section-middle-bottom-bottom">
            <div *ngFor="let mailData of allMail">
                <div class="section-message-content">
                    <div class="subject-name">
                        <div class="label-icon-hover">
                            <i class="material-icons">drag_indicator</i>
                        </div>
                        <i class="material-icons">check_box_outline_blank</i>
                        <i class="material-icons">star_outline</i>
                        <i class="material-icons">label_important_outline</i>
                        <p>{{ mailData.subject }}</p>
                    </div>
                    <div class="message-content">
                        <p>{{ mailData.message }}</p>
                    </div>
                    <div class="section-message-content-time">
                        <p>
                            {{ mailData.time | date: "hh:mm a" }}
                        </p>
                    </div>
                    <div class="icon-hover">
                        <i class="material-icons">archive</i>
                        <i class="material-icons">delete</i>
                        <i class="material-icons">drafts</i>
                        <i class="material-icons">access_time_filled</i>
                    </div>
                </div>
            </div>
            <div class="section-footer-content">
                <div class="section-footer-content-left">
                    <div class="section-footer-content-left-content">
                        <p>7.02 GB of 15 GB used</p>
                        <i class="material-icons">check_box_outline_blank</i>
                    </div>
                </div>
                <div class="section-footer-content-middle">
                    <p>Terms</p>
                    .
                    <p>Privacy</p>
                    .
                    <p>Program Policies</p>
                </div>
                <div class="section-footer-content-right">
                    <p>Last account activity: 0 minutes ago</p>
                    <p>Details</p>
                </div>
            </div>
        </div>
    </div>
</div>