.container {
    width: 250px;
    height: 300px;
    background-color: transparent;
    transition: width .3s;
    position: relative;
    /* border-bottom-color: lightgrey;
    border-bottom-style: solid; */
    border-bottom-style: solid;
    border-bottom-color: hsla(0, 1%, 19%, 0.034);
    border-right-style: solid;
    border-right-color: hsla(0, 1%, 19%, 0.034);
}

button {
    display: inline-block;
    width: 90%;
    height: 35px;
    padding-left: 10px;
    outline: 0;
    border: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: width .3s;
}

.onHoverContainer{
    position: absolute;
    display: inline-block;
    transform: translate(100%, 0);
    right: 10%;
    z-index: 99;
    background-color: black;
    opacity: .7;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

button i {
    margin-left: 10px;
    color: gray;
}

button span {
    margin-left: 10px;
    color: black;
    font-size: 14px;
}

button:hover {
    background-color: rgb(240, 236, 236);
}

button:active {
    background-color: lightgrey;
    font-weight: bold;
}

#inbox:active {
    background-color: rgb(247, 191, 184);
    font-weight: bold;
}

#inbox:active * {
    color: rgb(248, 81, 81);
}