<div class="container" id="innerContainerWidth1">
    <app-compose [isMenuButtonEnabled]="toggle"></app-compose>
    <button id="inbox"  id="innerContainerWidth">
        <i class="material-icons" style="color: rgb(238, 26, 26);">inbox</i>
        <span *ngIf="isMenuButtonEnabled" style="color: red;">Inbox</span>
    </button>
    <button id="containerWidth">
        <i class="material-icons">star</i>
        <span *ngIf="isMenuButtonEnabled">Starred</span>
    </button>
    <button id="containerWidth">
        <i class="material-icons">timer</i>
        <span *ngIf="isMenuButtonEnabled">Snoozed</span>
    </button>
    <button id="containerWidth">
        <i class="material-icons">forward</i>
        <span *ngIf="isMenuButtonEnabled">Sent</span>
    </button>
    <button id="containerWidth">
        <i class="material-icons">mode</i>
        <span *ngIf="isMenuButtonEnabled">Drafts</span>
    </button>
    <button id="containerWidth">
        <i class="material-icons">keyboard_arrow_down</i>
        <span *ngIf="isMenuButtonEnabled">More</span>
    </button>
</div>