.container {
    background-color: transparent;
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: row;
}

app-leftnavbar {
    background-color: transparent;
}

app-content {
    width: 75%;
    height: 100%;
    background-color: transparent;
}

app-rightnavbar {
    width: 4%;
    height: 100%;
    background-color: transparent;
}