:root {
    --white: #F5F5F5;
}

.container {
    background-color: var(--white);
    background-position: center;
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex: 0.11;
    width: 100%;
    height: 100%;
    background-color: #111111;
}

.main-content {
    display: flex;
    flex: 0.89;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.aside {
    display: flex;
    flex: 0.17;
    width: 100%;
    height: 100%;
    background-color: #444685;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 0.83;
    width: 100%;
    height: 100%;
    background-color: seagreen;
}

.section-header {
    display: flex;
    flex: 0.08;
    width: 100%;
    background-color: #f30d0d;
}

.section-main-content {
    display: flex;
    flex: 1;
    width: 100%;
    background-color: #111111;
}