.container {
    background-color: transparent;
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: row;
}

.wrapper {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWbN5CYyccoh94EBNB_7FuEmYi3wCexNQLvg&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
}

app-leftnavbar {
    background-color: transparent;
}

app-content {
    height: 100%;
    background-color: transparent;
}

app-rightnavbar {
    width: 4%;
    height: 100%;
    background-color: transparent;
}
.mess{
    position: absolute;
    bottom: 0;
}