<div class="header">
    <div class="icons">
        <button (click)="onClickNav()"><i class="material-icons">menu</i></button>
        <img class="logo" src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_2x_r2.png" alt="" />
    </div>
    <div class="search">
        <div class="search-wrapper">
            <i class="material-icons"> search</i>
            <input class="searchbar" placeholder="Search mail" />
            <i class="material-icons">arrow_drop_down</i>
        </div>
    </div>
    <div class="options">
        <i class="material-icons">help_outline</i>
        <i class="material-icons">settings</i>
        <i class="material-icons">apps</i>
        <i class="material-icons">person</i>
    </div>
</div>